<div class="container">
  <mat-card class="mat-card"
            style="box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)">
    <mat-card-header>
      <div class="example-header-image"></div>
      <h2>Add Proof of Residence</h2>
    </mat-card-header>
    <br>
    <label class="hoverable" for="fileInput">
      <img src="assets/img/proof_of_residence.png" alt="proof_of_residence">
      <div class="hover-text">Choose file</div>
    </label>
    <br/>
    <input id="fileInput" type='file' (change)="onSelectFile($event)">
    <button *ngIf="url" (click)="delete()" >delete</button>
  </mat-card>
</div>
<br>
<div class="container">
  <button class="Button" type="submit" routerLink="/profile">Submit</button>
</div>
