.container {
  max-width: 800px;
}

.mat-card {
  background-color: #0079C0;
  border-radius: 5px;
}

.mat-card-header {
  color: #ffffff;
}

.example-header-image {
  color: #0079C0;
}

.mat-card-content {
  color: #0079C0;
}

.mat-car-actions {
  color: white;
  background-color: #0079C0;
  font-size: 18px;
  border-radius: 10px;
}

img {
  height: 100%;
  width: 100%;
}
.hoverable{
  position: relative;
  display: block;
  cursor: pointer;
  height: 500px;
  width: 350px;
}
.hoverable .hover-text{
  position: absolute;
  display: none;
  top: 50%;
  left:  50%;
  transform: translate(-50%,-50%);
  z-index: 2;
  background: cornflowerblue;
  background-size: 30px;
}
.hoverable .background{
  position: absolute;
  display: none;
  top: 0;
  left:  0;
  bottom: 0;
  right: 0;
  background-color:rgba(255, 255, 255, 0.5);
  pointer-events: none;
  border-radius: 50%;
  z-index: 1;
}
.hoverable:hover .hover-text{
  display: block;
}
.hoverable:hover .background{
  display: block;
}

#fileInput{
  display: none;
}

.Button {
  background: #0079C0;
  border-radius:10px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size:18px;
  padding:8px 50px;
  text-decoration:none;
}

.Button:hover {
  background-color: dodgerblue;
}

.Button:active {
  position:relative;
  top:1px;
}

.router-link {
  font-size: x-large;
}

